@import './utils.scss';
@import './tokens.scss';
@import './TabContent/TabContent.scss';
@import './Modal/Modal.scss';
@import './BottomNav/BottomNav.scss';
@import './Tab/Tab.scss';
@import './Recommendation/Recommendation.scss';
@import './AnimatedChevron/AnimatedChevron.scss';
@import './RecommendationsList/RecommendationList.scss';
@import './RotatingActionButton/RotatingActionButton.scss';
@import './DemoLoginModal/DemoLoginModal.scss';
@import './Button/Button.scss';
@import './HelperSection/HelperSection.scss';
@import './CampaignOverview/CampaignOverview.scss';
@import './CampaignForm/CampaignForm.scss';

@import '../pages/styles/index.scss';
@import '../pages/styles/campaign.scss';

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-secondary;
  color: $primary-text;
  font-family: Ysabeau Infant Variable;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.hidden {
  opacity: 0;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
