.tab {
    padding: 10px;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10pt;
  }
  
  .tab:hover {
    filter: brightness(85%);
  }
  