.tab {
    padding: 10px;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-right: 1px solid white; 
    font-size: 6pt;
    text-align: center;
  }
  
  .tab:last-child {
    border-right: none; 
  }
  
  .tab:hover {
    filter: brightness(85%);
  }
  