.campaign-overview {
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  display: grid;
  justify-items: center;
  @include respond-to(desktop) {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    gap: 20px;
    -webkit-backdrop-filter: blur(4px);
    grid-template-columns: auto auto auto auto;
    justify-items: center;
  }
}

.section-overview {
  backdrop-filter: blur(4px);
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: grid;
  width: fit-content;
  padding: 10px;
  @include respond-to(desktop) {
    padding: 20px;
    width: 210px;
  }
}

.section-title {
  font-size: 18px;
  margin-bottom: 8px;
  color: white;
  font-weight: 500;
}

.recommendation-count {
  font-size: 16px;
  color: white;
  font-weight: 300;
}

.header {
  text-align: center;
  font-weight: 700;
  font-size: 14pt;
  @include respond-to(desktop) {
    font-size: 40pt;
  }
}
